doctype html
html(lang='en')
  head
    title Audio Dataset
    link(rel="stylesheet", type="text/css", href="/style.css")
  body
    div.nav-container
      div.nav-wrapper
        nav
          div.logo Echoes
          ul.nav-items
            li
              a(href='#') Home
            li
              a(href='#') Dataset
            li
              a(href='#') People
            li
              a(href='#') Future
            li
              a.bav-btn-container(href='#')
                img.search-btn(src="/images/search.png" alt="search icon")
    div.body-container
      div.search-slogan Search place, object and scenario

      div.search-container
        form(method='get')
          if query && query.length > 0
            input.searchbox(type='text' id='q' name='q' value=query)
          else
            input.searchbox(type='text' id='q' name='q' placeholder="try search!")
          button.submit-btn(type='submit' value='Search')
            img(src="/images/search-submit.png" alt="search icon")
      div.result
        if sounds.length
          table
            thead
              tr
                th Label
                th Audio
                th
            tbody
              each sound in sounds
                tr
                  if sound.game_meta.sound_label
                    td #{sound.game_meta.sound_label}
                  else if sound.meta && sound.meta.category
                    td #{sound.meta.category}
                  else
                    td UNLABELED
                  td
                    - var path = sound.path.substr(1)
                    audio(controls preload='none' src=path)
                  td
                    - var down = '/d' + sound.path
                    a(href=down target="_blank") Download
            tfoot
              tr
                th(colspan='3')

        else
          p No results

        script(type='text/javascript' src='script.js' defer='defer')