doctype html
html(lang='en')
    head
        title Audio Dataset
        link(rel="stylesheet", type="text/css", href="/style.css")
    body
        div.nav-container
            div.nav-wrapper
                nav
                    div.logo Echoes
                    ul.nav-items
                        li
                            a(href='/') Home
                        li.active
                            a(href='/dataset') Dataset
                        li
                            a(href='/people') People
                        li
                            a(href='/future') Future
                        li
                            a.nav-btn-container(href='#' )
                                img.search-btn(src="/images/search.png" alt="search icon")
        div.body-container
            div.search-slogan Search place, object and scenario

            div.search-container
                form(method='get')
                    if query && query.length > 0
                        input.searchbox(type='text' id='q' name='q' value=query)
                    else
                        input.searchbox(type='text' id='q' name='q' placeholder="What sounds are you looking for?")
                    button.submit-btn(type='submit' value='Search')
                        img(src="/images/search-submit.png" alt="search icon")
            div.result
                if count != 0
                    p #{count} files found, #{totalSize}
                    form(method="post" action="/d/" target="_blank")
                        each category in results
                            input(type="hidden" id=category.sub name="d[]" value=category.sub)
                        input(type="submit" value="Download")
                    table
                        thead
                            tr
                                th Label
                                th Audio
                                th File Size
                                th Details
                                th
                        tbody
                            each category in results
                                each sound in category.sounds
                                    - var down = '/d' + sound.path
                                    tr
                                        td #{category.sub}
                                        td 
                                            audio(controls preload='none' src=sound.path)
                                        td #{sound.fileSize}
                                        td Sample Rate: #{sound.sampleRate}, Bit Depth: #{sound.bitDepth}
                                        td
                                            a(href=down target="_blank") Download
                        tfoot
                            tr
                                th(colspan='4')

                else
                    p No results

                script(type='text/javascript' src='script.js' defer='defer')