doctype html
html(lang='en')
    head
        title Audio Dataset
        link(rel="stylesheet", type="text/css", href="/style.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css")
        link(href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet")
    body
        div.nav-container
            div.nav-wrapper
                nav.nav-content
                    div.logo Polyphonic
                    ul.nav-items
                        li
                            a(href='/') Home
                        li.active
                            a(href='/dataset') Dataset
                        li
                            a(href='/people') People
                        //li
                        //    a(href='/future') Future
                        li
                            a.nav-btn-container(href='#' )
                                img.search-btn(src="/images/search.png" alt="search icon")
                    button.sign-up-log-in Log in / Sign Up
        div.body-container
            //div.search-slogan Search place, object and scenario
            div.search-container
                form(method='get')
                    if query && query.length > 0
                        input.searchbox(type='text' id='q' name='q' value=query)
                    else
                        input.searchbox(type='text' id='q' name='q' placeholder="What sounds are you looking for?")
                    button.submit-btn(type='submit' value='Search')
                        img(src="/images/search-submit.png" alt="search icon")

            div.results-info
                div.catalog
                    a(href="/dataset") Dataset
                    if results.length === 1
                        | &nbsp; > &nbsp;
                        a(href="/dataset?cat=" + encodeURIComponent(results[0].parent)) #{results[0].parent}
                        | &nbsp; > &nbsp; #{results[0].sub}
                | #{count} Results, #{totalSize}

            div.ontology-container
                form(method="post" action="/d/sounds" target="_blank")
                    if results.length > 0
                        - var rowId = 0;
                        table.main-table
                            tr
                                th.main-input
                                    // no name so its value doesn't get submitted in form
                                    input(type="checkbox" class="checkAll")
                                th.count #
                                th Label
                                th Parent Category
                                th.audio-col Audio
                                th File Size
                                th Update
                                th Download
                                each category in results
                                    each sound in category.sounds
                                        - rowId++;
                                        - var down = '/d' + sound.path
                                        tr.main-row
                                            td.sub-input
                                                - var checkName = category.sub + "[]"
                                                input(type="checkbox" name=checkName id=category.sub value=sound.path onclick="globalCheck()")
                                            td.count #{rowId}
                                            td.category-col #{category.sub}
                                            td.category-col #{category.parent}
                                            td.audio-col
                                                audio(controls preload='none' src=sound.path)
                                            td #{sound.fileSize}
                                            td #{sound.lastMod}
                                            td
                                                a(href=down target="_blank") Download
                        p To download in bulk, check the boxes next to each sound you want to download.
                        input.download(style="display:none" type="submit" value="Bulk Download")
                    else
                        p No results
    footer
        div
            p.footer-text Made possible with the help of Philips & Bosch Corporation
            p.footer-text Copyright © 2020
            div
                p.footer-text Privacy
                p.footer-text Support
                p.footer-text Contact

    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js')
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js')
    script(type='text/javascript' src='/script.js' defer='defer')